{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Level 1: {{ data.objective }}</h1>
    <p class="lead">{{ data.hint }}</p>
    <hr class="my-4">
    <p>{{ data.question }}</p>

    <!-- File download link -->
    <a href="{{ data.file_link }}" class="btn btn-secondary" download>Download File</a>
    <br><br>
    <p>After downloading the file, go to <a href="https://gchq.github.io/CyberChef/" target="_blank">CyberChef</a> to decrypt the password using ROT13.</p>

    {% if feedback %}
    <div class="alert alert-info">{{ feedback }}</div>
    {% endif %}
    
    <form method="POST">
        <div class="form-group">
            <label for="player_input">Enter the decrypted password:</label>
            <input type="text" class="form-control" id="player_input" name="player_input" placeholder="Type your answer here">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
